certifi==2020.6.20
chardet==3.0.4
freetype-py==2.2.0
glfw==2.0.0
idna==2.10
numpy==1.19.2
p5==0.7.1
Pillow==7.2.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
requests==2.24.0
urllib3==1.25.10
vispy==0.6.5
